[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-marshmallow = "*"
blinker = "*"
click = "*"
itsdangerous = "*"
marshmallow = "*"
six = "*"
Flask = "*"
Flask-RESTful = "*"
Flask-SQLAlchemy = "*"
Flask-JWT-Extended = "*"
Jinja2 = "*"
MarkupSafe = "*"
PyJWT = "*"
SQLAlchemy = "*"
Werkzeug = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
